<a href="https://colab.research.google.com/github/Sammii0207/sami/blob/main/In_class_exercise_02_02072023_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''
Please write you answer here:
Research Question: What social, economic, and Personal factors influence student performance in exams.

Data to be collected:
The data to be collected would include variables such as gender of the student, race, the level of education of the parent, 
type of lunch offered to the students, test preparation course,  and test scores in mathematics, reading, and 
writing of the students.

Steps for collecting and saving data:
1. Identify the students to be included in the analysis. 
2. Gather the relevant data on the identified students, such as the gender of students enrolled in advanced courses,
average test scores in subjects such as mathematics,reading, and writing, level of education attained by parents,race,
type of lunch offered. 
3. Save the collected data into a secure database. 
4. Analyze the collected data to determine the correlations between the number of students enrolled in advanced 
courses and the other data points. 
5. Create a report summarizing the results of the analysis.

'''

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code):
import pandas as pd
data = pd.read_csv('StudentsPerformance.csv') # data source: https://www.kaggle.com/code/spscientist/student-performance-in-exams/data
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
print(len(data))

1000

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [ ]:
# You code here (Please add comments in the code):
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [ ]:
start = []
for i in range(0,951):
    if i%10 == 0:
        start.append(i)

In [ ]:
# Initialize empty lists to store the articles' data
titles = []
venues = []
years = []
authors = []
abstracts = []

for i in start:
    url = 'https://scholar.google.com/scholar?start='+str(i)+'&q=information+retrieval&hl=en&as_sdt=0,5'
    response = requests.get(url)

    # Parse the response using BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Find all the articles on the page
    articles = soup.find_all('div', class_='gs_r gs_or gs_scl')

    # Loop through the articles and collect the desired information
    for article in articles[:1000]:
        title = article.find('h3').text
        titles.append(title)

        venue = article.find('div', class_='gs_a').text
        venues.append(venue)

        year = article.find('div', class_='gs_a').text
        year = int(re.search(r'\d+', year).group())
        #year = year[-4:]
        years.append(year)

        author = article.find('div', class_='gs_a').text
        authors.append(author)

        abstract = article.find('div', class_='gs_rs').text
        abstracts.append(abstract)

# Store the collected information in a DataFrame
df = pd.DataFrame(data={'Title': titles, 'Venue': venues, 'Year': years, 'Authors': authors, 'Abstract': abstracts})

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [ ]:
# You code here (Please add comments in the code):
from snscrape.modules import twitter #the twitter package for twitter scraping
import pandas as pd # for saving data as a dataframe

tweets = [] # empty list to store collected tweets
limit = 1000 # maximum number of tweets to collect

# Search for tweets using keywords.
keywords = ['"turkey" lang:en','"usa" lang:en','"ukraine" lang:en']

for keyword in keywords:
    for tweet in twitter.TwitterSearchScraper(keyword).get_items():
        if len(tweets)==limit:
            break
        else:
            tweets.append([tweet.date,tweet.user.username,tweet.content])
            
# Save data as dataframe
tweets_data = pd.DataFrame(tweets, columns=['Date','UserID','message'])
tweets_data

C:\Users\aseka\AppData\Local\Temp\ipykernel_11652\548978114.py:16: FutureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.date,tweet.user.username,tweet.content])

,Date,UserID,message
0,2023-02-13 13:21:52+00:00,kdz_alterego,@jan_ro Was just watching a news update yester...
1,2023-02-13 13:21:50+00:00,CaribbeanAmor,"I want some eggs, grits, Turkey bacon and avoc..."
2,2023-02-13 13:21:50+00:00,champainmolly,Is it too early to eat Turkey wings???
3,2023-02-13 13:21:49+00:00,iizbal,@aykiricomtr @alexanderdecroo Take it to your ...
4,2023-02-13 13:21:47+00:00,gaffurminikyedi,Turkey hit by devastating earthquakes reaching...
...,...,...,...
995,2023-02-13 12:47:07+00:00,iamjoseh_,The death toll from the earthquake that hit Tu...
996,2023-02-13 12:47:04+00:00,BBCRadioLincs,Further updates on the Lincs firefighters work...
997,2023-02-13 12:47:04+00:00,theVERSEverse,good morning to everyone + especially new mama...
998,2023-02-13 12:47:03+00:00,AishHoor,@ayinla_aluko @Muslim He donated it for both !...
999,2023-02-13 12:47:03+00:00,T_EFF,@RGIII Watching the turkey come out on thanksg...