<a href="https://colab.research.google.com/github/Sammii0207/sami/blob/main/In_class_exercise_01_01242023_1_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
def calc_string_length(string):
    count = 0
    for char in string:
        count += 1
    return count

length = calc_string_length("My First python code")
print("The length of the string is:", length)

The length of the string is: 20

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def character_count(string):
    count_dict = {}
    for char in string:
        if char in count_dict:
            count_dict[char] += 1
        else:
            count_dict[char] = 1
    return count_dict

print(character_count("Facebook.com"))

{'F': 1, 'a': 1, 'c': 2, 'e': 1, 'b': 1, 'o': 3, 'k': 1, '.': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
def sum_of_list(numbers):
    sum = 0
    for num in numbers:
        sum += num
    return sum

print(sum_of_list([13, 24, 53, 94, 235]))

419

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def replace_character(string):
    first_char = string[0]
    result = string[0]
    for char in string[1:]:
        if char == first_char:
            result += '$'
        else:
            result += char
    return result

print(replace_character("restarrrrt"))

resta$$$$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
def calculate_s(a, b):
    S = 3.14 * (1 + a/b)**3
    return S

print(calculate_s(3, 6))

10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
def concat_dicts(d1, d2, d3):
    result = {}
    for d in [d1, d2, d3]:
        for key, value in d.items():
            result[key] = value
    return result

d1 = {1:10, 2:20}
d2 = {3:30, 4:40}
d3 = {5:50, 6:60}
print(concat_dicts(d1, d2, d3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
def exists_in_tuple(tuple, element):
    return element in tuple

tuple = (1, 2, 3, 4, 5)
print(exists_in_tuple(tuple, 5))
print(exists_in_tuple(tuple, 6))

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
def min_max_val_set(s):
    max_value = 0
    min_value = 0
    first = True
    for value in s:
        if first:
            max_value = value
            min_value = value
            first = False
        else:
            if value > max_value:
                max_value = value
            if value < min_value:
                min_value = value
    return (min_value, max_value)

s = {11, 22, 3, 4, 55}
print(min_max_val_set(s))

(3, 55)

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here

from random import randint

studnet_list =  ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

Group=[[],[],[],[],[]]
while len(studnet_list)>0:
    fromPos=randint(0,len(studnet_list)-1)
    toPos=randint(0,4)
    while len(Group[toPos])>=6:
        toPos=randint(0,4)
    Group[toPos].append(studnet_list.pop(fromPos))
for i in range(5):
    while len(Group[i])<4:
        stealPos=i
        while stealPos==i:
            stealPos=randint(0,4)
        Group[i].append(Group[stealPos].pop())
for i in range(5):
    print("Group",i+1)
    print(Group[i])

Group 1
['sk1386', 'nv0234', 'kg0470', 'sk1458', 'sk1390', 'fh0141']
Group 2
['kg0569', 'sk1313', 'sm1907', 'ja0964', 'pr0353', 'nm0618']
Group 3
['sc1229', 'hy0232', 'aos0040', 'dr0609', 'ak0934', 'bg0320']
Group 4
['ms1500', 'ds0814', 'sg1297', 'sm1640', 'ak0956', 'jl1252']
Group 5
['sa1198', 'av0659', 'gn0108', 'vm0377', 'sb1357', 'vb0218']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
def find_duplicates(arr):
    duplicates = []
    for i in range(len(arr)):
        if arr[i] in arr[i+1:]:
            duplicates.append(arr[i])
    if len(duplicates) == 0:
        return -1
    else:
        return duplicates

arr = [1, 2, 3, 4, 2, 5, 6, 7, 8, 9,3,7,8]
result = find_duplicates(arr)
print(result)

[2, 3, 7, 8]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):
       dt = date(year, 1, 1)       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25